<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aladin:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abril Fatface:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dead Kansas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Photograph Signature:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@900&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Jolly+Lodger&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap" rel="stylesheet">
</head>
<body>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    <div class="food-website">
        <div class="header">
            <div class="header-child"></div>
                <div class="group-parent">
                  <img src="{% static 'images/deals/JB.png'%}" alt="#">
                  <!-- <img class="group-item" src="/index/images/JB.png" alt="#"> -->
                  <img class="button-account-iconsvg" src="{% static 'images/deals/button--account-iconsvg.svg'%}" alt="#">
                  
                  <b class="button-sign" id="redirectingText"><a href="{% url 'sign' %}">Sign In</a></b>
                  <div class="link-button-button-cart"></div>
                  <div class="link-button" id="redirecting"><a href="{% url 'menupage' %}">Menu</a></div>
                  <div class="link-button1" id="redirect"><a href="{% url 'dealspage' %}">Deals</a></div>
                </div>
            </div>
        </div>
        <div class="home" >
          <img class="home-child" src="{% static 'images/rectangle-30@2x.png'%}"  data-aos="zoom-in" alt="#">
          <!-- <img class="home-child" src="/index/images/rectangle-30@2x.png" alt="#" data-aos="zoom-in"> -->
          <div class="home-item"></div>
          <img class="unsplashfn6dpytpumc-icon" src="{% static 'images/unsplashfn6dpytpumc@2x.png'%}"  data-aos="zoom-in" alt="#">
          <!-- <img class="unsplashfn6dpytpumc-icon" src="/index/images/unsplashfn6dpytpumc@2x.png"  data-aos="zoom-in"alt="#"> -->
    
          <div class="friends-family-container">
            <p class="friends-family2" data-aos="zoom-in" data-aos-easing="ease-in"
            data-aos-delay="300">Friends & Family Combo</p>
            <p class="friends-family3"data-aos="zoom-in" data-aos-easing="ease-in"
            data-aos-delay="100">(Save upto 20%)</p>
          </div>
          <div class="cruspy-parent">
            <div class="cruspy">
              <p class="friends-family1"data-aos="zoom-in" data-aos-easing="ease-in"
              data-aos-delay="800">CRISPY</p>
            </div>
            <div class="burger" data-aos="zoom-in" data-aos-easing="ease-in"
            data-aos-delay="800">BURGER</div>
            <div class="group-child"  data-aos="zoom-in" data-aos-easing="ease-in"
            data-aos-delay="700"></div>
            <div class="tender"  data-aos="zoom-in" data-aos-easing="ease-in"
            data-aos-delay="700">Tender</div>
          </div>
        </div>
        <div class="container2">
          <div class="image-child">
            <img src="{% static 'images/rectangle-3@2x.png'%}" data-aos="zoom-in" alt="#">
            <!-- <img src="/index/images/rectangle-3@2x.png" data-aos="zoom-in" alt=""> -->
          </div>
          <div class="welcome">
            <p>Welcome</p>
            <p id="p1">INDIA’S LARGEST HOME-GROWN BURGER
              CHAIN IS HERE TO SERVE YOU.</p>
            <p class="we-know-are">
              We know you’re obviously a fan of desi flavours and have your heart set on it. Your search for the best Indian fusion burgers ends here. With the taste of India in every bite, we have thoughtfully curated our menu to serve the Indian palette. Bursting with flavours, our wide range of burgers will always make you crave for more.
            </p>
          </div>
          <div class="today-deals">
              <p>Today's Deals</p>
              <img src="{% static 'images/hamburger@2x.png'%}" data-aos="zoom-in" alt="#">
              <!-- <img src="/index/images/hamburger@2x.png" data-aos="zoom-in" alt=""> -->
          </div>
        </div>
        <div class="container-3">
          <div class="inside-container">
            <div class="special-item">
              <p id="sp1">Special Item</p>
              <p id="sp2">View All...</p>
            </div>
            <div class="Allu" data-aos="fade-right">
              <img src="{% static 'images/rectangle-5@2x.png'%}" alt="#">
              <!-- <img src="/index/images/rectangle-5@2x.png" alt=""> -->
              <p id="A1">The Allu Arjun Combo</p>
              <p id="A2">Inside Your meal</p>
              <p id="A3">Try Allus fav-1 Hot & Crispy Chicken, 1 Smoky Red, Reg Popcorn, Spicy Fries & 1 Dip 20gm</p>
              <p id="A4">$</p>
              <p id="A5">207</p>
              <div class="bn-dapa">
                <p id="A6">+</p>
              </div>
            </div>
            <div class="inside-1">
              <img src="{% static 'images/rectangle-10@2x.png'%}" data-aos="zoom-in" alt="#">
              <!-- <img src="/index/images/rectangle-10@2x.png" data-aos="zoom-in" alt=""> -->
              <p id="B1">Family Feast</p>
              <p id="B2">
                Family Deal Of 3 Chicken Zingers, Med Popcorn, Med Fries & 1 Pepsi 475ml
              </p>
              <p id="B3">$</p>
              <p id="B4">208</p>
              <div class="bm-dapa">
                <p id="B5">+</p>
              </div>
            </div>
            <div class="inside-2">
              <img src="{% static 'images/rectangle-10@2x.png'%}" data-aos="zoom-in" alt="#">
              <!-- <img src="/index/images/rectangle-10@2x.png" data-aos="zoom-in" alt=""> -->
              <p id="B1">Family Feast</p>
              <p id="B2">
                Family Deal Of 3 Chicken Zingers, Med Popcorn, Med Fries & 1 Pepsi 475ml
              </p>
              <p id="B3">$</p>
              <p id="B4">209</p>
              <div class="bm-dapa">
                <p id="B5">+</p>
              </div>
            </div>
            <div class="inside-3">
              <img src="{% static 'images/rectangle-10@2x.png'%}" data-aos="zoom-in" data-aos-delay="300" alt="#">
              <!-- <img src="/index/images/rectangle-10@2x.png" data-aos="zoom-in" data-aos-delay="300" alt=""> -->
              <p id="B1">Family Feast</p>
              <p id="B2">
                Family Deal Of 3 Chicken Zingers, Med Popcorn, Med Fries & 1 Pepsi 475ml
              </p>
              <p id="B3">$</p>
              <p id="B4">210</p>
              <div class="bm-dapa">
                <p id="B5">+</p>
              </div>
            </div>
            <div class="inside-4">
              <img src="{% static 'images/rectangle-10@2x.png'%}" data-aos="zoom-in" data-aos-delay="100" alt="#">
              <!-- <img src="/index/images/rectangle-10@2x.png" data-aos="zoom-in" data-aos-delay="100" alt=""> -->
              <p id="B1">Family Feast</p>
              <p id="B2">
                Family Deal Of 3 Chicken Zingers, Med Popcorn, Med Fries & 1 Pepsi 475ml
              </p>
              <p id="B3">$</p>
              <p id="B4">211</p>
              <div class="bm-dapa">
                <p id="B5">+</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container-4">
          <div class="browse-category">
            <p id="BC">Browse Categories</p>
            <div class="BC1">
              <p id="BC-S">BURGERS</p>
              <img src="{% static 'images/rectangle-51@2x.png'%}" data-aos="fade-down" alt="#">
              <!-- <img src="/index/images/rectangle-51@2x.png" data-aos="fade-down" alt=""> -->
              <p id="BC-S">BURGERS</p>
            </div>
            <div class="BC2">
              <p id="BC-S">BURGERS</p>
              <img src="{% static 'images/chkzingerjpg@2x.png'%}" data-aos="fade-up" alt="#">
              <!-- <img src="/index/images/chkzingerjpg@2x.png" data-aos="fade-up" alt=""> -->
              <p id="BC-S">BURGERS</p>
            </div>
            <div class="BC3">
              <p id="BC-S">BURGERS</p>
              <img src="{% static 'images/rectangle-3@2x.png'%}" data-aos="fade-down" alt="#">
              <!-- <img src="/index/images/rectangle-3@2x.png" data-aos="fade-down" alt=""> -->
              <p id="BC-S">BURGERS</p>
            </div>
          </div>
          <div class="browse-category1">
            <div class="BC1">
              <p id="BC-S">BURGERS</p>
              <img src="{% static 'images/rectangle-5@2x.png'%}" data-aos="fade-down" alt="#">
              <!-- <img src="/index/images/rectangle-5@2x.png" data-aos="fade-down" alt=""> -->
              <p id="BC-S">BURGERS</p>
            </div>
            <div class="BC2">
              <p id="BC-S">BURGERS</p>
              <img src="{% static 'images/rectangle-3@2x.png'%}" data-aos="fade-up" alt="#">
              <!-- <img src="/index/images/rectangle-3@2x.png" data-aos="fade-up" alt=""> -->
              <p id="BC-S">BURGERS</p>
            </div>
            <div class="BC3">
              <p id="BC-S">BURGERS</p>
              <img src="{% static 'images/rectangle-51@2x.png'%}" data-aos="fade-down" alt="#">
              <!-- <img src="/index/images/rectangle-51@2x.png" data-aos="fade-down" alt=""> -->
              <p id="BC-S">BURGERS</p>
            </div>
          </div>
        </div>
        <div class="footer">
          <img src="{% static 'images/deals/group-2.svg'%}" alt="#" id="jb">
          <a href="https://www.apple.com/in/app-store/">
            <img src="{% static 'images/deals/applesvg-fill@2x.png'%}" alt="#" id="apple"></a>
          <a href="https://play.google.com/store/games?hl=en_IN&gl=US">
            <img src="{% static 'images/deals/google-playsvg-fill@2x.png'%}" alt="#" id="google">
            </a>
          <div class="first-dapa">
            <p>Legal</p>
            <p>Terms & conditions</p>
            <p>Privacy Policy</p>
            <p>Disclaimer</p>
            <p>Caution Notice</p>
          </div>
          <div class="second-dapa">
            <p>JustBurger India</p>
            <p>About JustBurger</p>
            <p>JustBurger Care</p>
            <p>Careers</p>
            <p>Our Golden Past</p>
          </div>
          <div class="third-dapa">
            <p>JustBurger Food</p>
            <p>Menu</p>
            <p>Order Lookup</p>
            <p>Gift Card</p>
            <p>Nutrition & Allergen</p>
          </div>
          <div class="fourth-dapa">
            <p>Support</p>
            <p>Get Help</p>
            <p>Contact Us</p>
            <p>JustBurger Feedback</p>
            <p>Privacy Policy</p>
          </div>
          <div class="copy-rights">
            <p>Copyright © JustBurger 2024 All Rights Reserved</p>
          </div>
          <div class="social-media">
            <a href="https://www.instagram.com/jstbrgrs/?hl=en">
              <img src="{% static 'images/deals/list--item--link--social-insta-whitesvg.svg'%}"" alt="#" id="sm1"></a>
            <a href="https://www.facebook.com/">
              <img src="{% static 'images/deals/list--item--link--social-facebook-whitesvg.svg'%}" alt="#" id="sm2"></a>
            <a href="https://twitter.com/">
              <img src="{% static 'images/deals/list--item--link--social-twitter-whitesvg.svg'%}" alt="#" id="sm3"></a>
          </div>
          <div class="contact-page">
            <img src="{% static 'images/vector.svg'%}" alt="#">
            <p>Find a JustBurger</p>
          </div>
        </div>
      </div>    
</body>
</html>