<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu/global.css'%}">
    <link rel="stylesheet" href="{% static 'css/menu/style.css'%}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mystery Quest:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Julee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;800;900&display=swap"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <div class="desktop-1">
      <div class="text-heading">
        <div class="rectangle-shape">
          <header class="group-frame">
            <div class="group-frame-child"></div>
            <div class="line-shape">
              <div class="frame-shape">
                <a href="{% url 'homepage' %}"><img class="instance-shape-icon" id="redirecting" loading="eager" src="{% static 'images/menu/vector.svg'%}" alt="#" >
                </a>
              </div>
              <div class="head">
                <div class="fra1">
                  <div id="txt1">Delivery</div>
                  <img src="{% static 'images/menu/images-removebg-preview (1).png'%}" alt="#" id="ic2">
                  
                </div>
                <div class="fra2">
                    <img src="{% static 'images/menu/download (2).png'%}" alt="#" id="ic3"> 
                  <div id="txt2">Select</div>
                  <img src="{% static 'images/menu/images-removebg-preview (1).png'%}" alt="#" id="ic2">
                  
                </div>
              </div>
            </div>
            <div class="dapa1">
              <div class="me"><a href="#">Menu</a></div>
              <div class="de" id="deal"><a href="{% url 'dealspage' %}">Deals</a></div>
              <img class="button-account-iconsvg" loading="eager" src="{% static 'images/menu/button--account-iconsvg.svg'%}" alt="#" > 
                <div class="na">Venkey</div>
            </div>
          </header>
          <div class="rectangle-shape-item"></div>
          <div class="subheader-frame">
            <div class="subheader-frame-child"></div>
            <button class="rectangle-parent">
              <div class="frame-child"></div>
              
              <img class="handshake-icon" src="{% static 'images/menu/handshake.svg'%}" alt="#"> 
              <div class="deals" id="deal"><a href="{% url 'dealspage' %}">Deal’s</a></div>
            </button>
            <button class="group-frame2">
              <div class="group-frame-item"></div>
              
              <img class="vector-icon" src="{% static 'images/menu/vector-4.svg'%}" alt="#"> 
              <div class="new-launch">New Launch</div>
            </button>
          </div>
        </div>
        <div class="heading">
          <div class="list">
            <div class="item">
              <div class="link">
                <button class="image-frame">
                  <div class="recommended">RECOMMENDED</div>
                  <div class="image-frame-child"></div>
                </button>
                <div id="line"></div>
              </div>
              <div class="our-menu">Our Menu</div>
            </div>
            <div class="rectangle">
              <div class="i-n-s-t-a-n-c-e-f-r-a-m-e">
                <div class="rectangle-group"data-aos="fade-right">
                  <div class="frame-item"></div>
                  <div class="frameheading">+</div>
                  <div class="lineseparator">
                    <img class="lineseparator-child" src="{% static 'images/menu/rectangle-56@2x.png'%}" alt="#"> 
                    
                    <img class="image-2-icon" loading="eager" src="{% static 'images/menu/image-2@2x.png'%}" alt="#"> 

                    
                  </div>
                  <div class="grouplink">
                    <div class="textcontainer">
                      <div class="cheesy-italian-chicken">
                        Cheesy Italian Chicken + Fries (L) + 2 Coke
                      </div>
                      <div class="get-the-best-container">
                        <p class="get-the-best">
                          Get the best value in your meal for 2. Save big on
                          your favourite sharing meal - 2 Cheesy Italian Chicken
                          + Fries (L) + 2 Coke
                        </p>
                      </div>
                      <div class="burger-box">
                        <div class="div">
                          <span class="span">₹ </span>
                          <span class="span1">269</span>
                        </div>
                        <div class="corn-checkbox"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="price-text">
                  <div class="rectangle-container" data-aos="fade-left">
                    <div class="frame-inner"></div>
                    <div class="big-save-frame">+</div>
                    <div class="frame-div">
                        
                        <img class="rectangle-icon" loading="eager" src="{% static 'images/menu/rectangle-57@2x.png'%}" alt="#"> 

                      <input class="image-1" type="checkbox" />
                    </div>
                    <div class="rupee-symbol">
                      <div class="burger-group">
                        <div class="menu-list-frame">
                          <div class="mcveggie-burger">
                            2 McVeggie Burger + Fries (L) + 2 Coke
                          </div>
                          <div class="get-the-best-container1">
                            <p class="get-the-best1">
                              Get the best value in your meal for 2. Save big on
                              your favourite sharing meal - 2 Cheesy Italian
                              Chicken + Fries (L) + 2 Coke
                            </p>
                          </div>
                        </div>
                        <div class="disclaimers">
                          <div class="div1">
                            <span class="span2">₹ </span>
                            <span class="span3">279</span>
                          </div>
                          <div class="privacy-policy"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="caution-notice">
                    <div class="group-div" data-aos="fade-right">
                      <div class="rectangle-div"></div>
                      <div class="social-media-icons">+</div>
                      <div class="google-play-link">
                        <img class="google-play-link-child" src="{% static 'images/menu/rectangle-59@2x.png'%}" alt="#" >
                       
                        <img class="image-5-icon" loading="eager" src="{% static 'images/menu/image-5@2x.png'%}" alt="#" >
                        
                      </div>
                      <div class="text-link">
                        <div class="rectangle-shape2">
                          <div class="frame-node">
                            <div class="mcspicy-paneer-burger">
                              McSpicy Paneer Burger + Fries (L) + 2 Coke +
                              McAloo Tikki Burger
                            </div>
                          </div>
                          <div class="image-node">
                            <div class="get-the-best-container2">
                              <p class="get-the-best2">
                                Get the best value in your meal for 2. Save big
                                on your favourite sharing meal - 2 Cheesy
                                Italian Chicken + Fries (L) + 2 Coke
                              </p>
                            </div>
                          </div>
                          <div class="line-shape2">
                            <div class="div2">
                              <span class="span4">₹ </span>
                              <span class="span5">299</span>
                            </div>
                            <div class="instance-node"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="rectangle-shape3">
        <img class="burger-hamburger-cheeseburger" src="{% static 'images/menu/burger-hamburger-cheeseburger@2x.png'%}" alt="#"> 
        
        

        <div class="rectangle-parent1" data-aos="fade-left">
          <div class="frame-child1"></div>
          <div class="link-node">
            <img class="link-node-child" src="{% static 'images/menu/rectangle-58@2x.png'%}" alt="#"> 
            
            <img class="image-4-icon" loading="eager" src="{% static 'images/menu/image-5@2x.png'%}" alt="#">
            
          </div>
          <div class="corn-cheese">
            Corn & Cheese Burger +McVeggie Burger+Fries (M)
          </div>
          <div class="get-the-best-container3">
            <p class="get-the-best3">
              Get the best value in your meal for 2. Save big on your favourite
              sharing meal - 2 Cheesy Italian Chicken + Fries (L) + 2 Coke
            </p>
          </div>
          <div class="rectangle-shape4"></div>
          <div class="money-symbol">+</div>
          <div class="div3">
            <span class="span6">₹ </span>
            <span class="span7">289</span>
          </div>
        </div>
        <div class="rectangle-parent2" data-aos="zoom-in">
          <div class="frame-child2"></div>
          <div class="mcchicken">McChicken</div>
          <div class="get-the-best-container4">
            <p class="get-the-best4">
              Get the best value in your meal for 2. Save big on your favourite
              sharing meal - 2 Cheesy Italian Chicken + Fries (L) + 2 Coke
            </p>
          </div>
          <div class="frame-child3"></div>
          <div class="div4">+</div>
          <div class="div5">
            <span class="span8">₹ </span>
            <span class="span9">259</span>
          </div>
        </div>
        <div class="frame-node1">
            <img class="frame-node-child" src="{% static 'images/menu/rectangle-61@2x.png'%}" alt="#">
         

          <input class="image-8" type="checkbox" />
        </div>
        <div class="rectangle-parent3" data-aos="zoom-in">
          <div class="frame-child4"></div>
          <div class="mcaloo-tikki">2 McAloo Tikki + 2 Fries (L)</div>
          <div class="get-the-best-container5">
            <p class="get-the-best5">
              Get the best value in your meal for 2. Save big on your favourite
              sharing meal - 2 Cheesy Italian Chicken + Fries (L) + 2 Coke
            </p>
          </div>
          <div class="frame-child5"></div>
          <div class="div6">+</div>
          <div class="div7">
            <span class="span10">₹ </span>
            <span class="span11">229</span>
          </div>
        </div>
        <div class="frame-node2">
            <img class="frame-node-item" src="{% static 'images/menu/rectangle-60@2x.png'%}" alt="#">
            <img class="image-6-icon" loading="eager" src="{% static 'images/menu/image-5@2x.png'%}" alt="#">

          
        </div>
        <div class="group-node">
          <img class="terms-conditions-list" alt="" />
          <img class="privacy-policy-icon" src="{% static 'images/menu/privacy-policy@2x.png'%}" alt="#" > 
          
        </div>
      </main>
      <footer class="frame-k-f-c-food-menu-lookup-parent">
        <div class="frame-k-f-c-food-menu-lookup">
          <div class="k-f-c-food-support">
            <div class="menu-get-help">
                <img class="menu-get-help-child" loading="eager" src="{% static 'images/menu/group-2.svg'%}" alt="#">
             

              <div class="contact-us">
                <div class="our-golden-past">
                  <div class="heading-legal">Legal</div>
                  <div class="list-item">Terms and Conditions</div>
                  <div class="list-item1">Privacy Policy</div>
                  <div class="list-item2">Disclaimer</div>
                  <div class="list-item3">Caution Notice</div>
                </div>
              </div>
            </div>
            <div class="frame-k-f-c-food-menu">
              <div class="heading-kfc">JustBurger India</div>
              <div class="list-item4">About JustBurger</div>
              <div class="list-item5">JustBurger Care</div>
              <div class="list-item6">Careers</div>
              <div class="list-item7">Our Golden Past</div>
            </div>
          </div>
        </div>
        <div class="copyright-notice">
          <div class="frame-social-media-links">
            <div class="google-play-app-store-link-gro">
              <div class="find-a-k-f-c">
                <div class="heading-kfc1">JustBurger Food</div>
                <div class="list-item8">Menu</div>
                <div class="list-item9">Order Lookup</div>
                <div class="list-item10">Gift Card</div>
                <div class="list-item11">Nutrition & Allergen</div>
              </div>
              <div class="find-a-k-f-c1">
                <div class="heading-support">Support</div>
                <div class="list-item12">Get Help</div>
                <div class="list-item13">Contact Us</div>
                <div class="list-item14">JustBurger Feedback</div>
                <div class="list-item15">Privacy Policy</div>
              </div>
            </div>
          </div>
          <div class="copyright-justburger">
            Copyright © JustBurger 2024 All Rights Reserved
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="list-item-link-social-in-parent">
            <a href="https://www.instagram.com/jstbrgrs/?hl=en"><img class="list-item-link-social-in" loading="eager" src="{% static 'images/menu/list--item--link--social-insta-whitesvg.svg'%}" alt="#"></a>
            <a href="https://www.facebook.com/">
            <img class="list-item-link-social-fa" loading="eager" src="{% static 'images/menu/list--item--link--social-facebook-whitesvg.svg'%}" alt="#"/></a>
            <a href="https://twitter.com/?lang=en-in"><img class="list-item-link-social-tw" loading="eager" src="{% static 'images/menu/list--item--link--social-twitter-whitesvg.svg'%}" alt="#"></a>
            

            <div class="find-kfcsvg-parent">
              <div class="find-kfcsvg"></div>
              <div class="google-apple-links">
                <div class="play-store-link">
                  <a href="https://play.google.com/store/games?device=windows&pli=1"><img class="google-playsvg-fill-icon" loading="eager" src="{% static 'images/menu/google-playsvg-fill@2x.png'%}" alt="#"></a>
                  
                  <a href="https://www.apple.com/app-store/"> <img class="applesvg-fill-icon" loading="eager" src="{% static 'images/menu/applesvg-fill@2x.png'%}" alt="#"></a>
                  
                </div>
              </div>
              <div class="vector-arrow-group-parent">
                
                <img class="vector-arrow-group" src="{% static 'images/menu/vector-5.svg'%}" alt="#">
                
                <div class="link-find">Find a JustBurger</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      const redirectingtext = document.getElementById('redirecting');
      redirectingtext.addEventListener('click', function() {
      const targetUrl = `{% url 'homepage' %}`;
      window.location.href = targetUrl;
    });
      const direct = document.getElementById('deal');
      direct.addEventListener('click', function() {
      const targetUrl = `{% url 'dealspage' %}`;
      window.location.href = targetUrl;
    });
 
    AOS.init({
      duration: 1200,
      //once:true
    })
    </script>
  </body>
</html>
